body {
  background-color: #f5f4f0;
  font-family: "Open Sans", system-ui;
  font-weight: 400;
}

main {
  margin: 168px 160px;
  margin-bottom: 0px;
}

main #about {
  margin-bottom: 40px;
}

main #about .title-page {
  margin-bottom: 40px;
}

main .title-page .tag {
  color: #e1624f;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

main .title-page p {
  color: #333333;
  margin-top: 8px;
  margin-bottom: 64px;
  font-size: 16px;
}

main h1 {
  color: #1b1b1b;
  text-transform: capitalize;
  font-size: 36px;
  margin: auto;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

main #content .title-page {
  margin-top: 64px;
  margin-bottom: 64px;
}

#image-and-subtitle img {
  width: 100%;
  height: 660px;
  margin-bottom: 24px;
  border-radius: 28px;
  object-fit: cover;
}

#image-and-subtitle p {
  object-fit: cover;
  text-align: center;
  font-size: 16px;
  color: #333333;
  margin: auto;
  font-style: italic;
}

.card {
  margin-bottom: 48px;
}

.card img {
  width: 100%;
  height: 350px;
  border-radius: 28px;
  margin-bottom: 20px;
  object-fit: cover;
}

.card .card-title {
  font-size: 28px;
  margin-bottom: 4px;
}

.card .card-text {
  font-size: 16px;
  color: #333333;
  margin-bottom: 20px;
}

.card ul {
  margin: 0;
  padding-left: 18px;
  font-weight: bold;
}

#article-end {
  text-align: center;
  font-size: 16px;
  color: #333333;
  margin: auto;
}

.blue {
  color: #0c51a7;
  margin: 0;
}

.purple {
  color: #591b98;
  margin: 0;
}

.pink {
  color: #e5245e;
  margin: 0;
}

.orange {
  color: #e95e10;
  margin: 0;
}

footer {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 48px;
}

footer img {
  vertical-align: middle;
}
